// Customizations Here (Optional)
$family-sans-serif: "Nunito", sans-serif;

// Bulma Import
@import "~bulma";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
