// Customizations Here (Optional)
$family-sans-serif: "Nunito", sans-serif;
$circulate: #dd00dd;
$danger: $circulate;
$link: $circulate;

html,
body {
  height: 100vh;
  overflow: hidden !important;
}
.is-post {
  height: 100vh;
  overflow: auto !important;
}

.is-transparent {
  background-color: transparent !important;
}

// Bulma Import
@import "~bulma";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
